{% extends "layout.html" %}

{% block title %}Cadabra: change log{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Change log</h1>
<p>
  The list below gives a human-readable overview of the changes from
  one version to the next. For details of precisely what is changed at
  the code level, consult
  the <a href="http://github.com/kpeeters/cadabra2">github
  repository</a>. Odd patch levels correspond to versions in
  development, even numbered ones are released in packaged form.
</p>
<a name="master"></a>
<h3>github master (2.4.1)</h3>
<ul>
  <li>Add missing trig functions for display and passthrough to sympy (Oscar).</li>
</ul>

<h3>2.4.0 (released 25-Aug-2022)</h3>
<ul>
  <li>Version to accompany the publication of
  the <a href="http://arxiv.org/abs/2208.11946">paper about the meld
  algorithm</a>.</li>
  <li>Several fixes to <tt>meld</tt> (Dominic).</li>
  <li>Make typesetting run in a separate thread to prevent the UI from
	 feeling sluggish.</li>
  <li>Some changes in the behaviour of list addition/multiplication,
	 to match Mathematica's behaviour.</li>
  <li>New <tt>nevaluate</tt> algorithm for fast numerical evaluation
  of expressions (work-in-progress).</li>
  <li>Fix for Python 3.10.x.</li>
  <li>Fix for automatic cleanup of <tt>Diagonal</tt> objects.</li>
  <li>Fix crash with tab-completion.</li>
  <li>Make '+' operator add lists component-wise, and introduce the
    tie operator '~' and <tt>join</tt> function to join lists.</li>
  <li>Fix printing of objects with <tt>LaTeXForm</tt> which are
  wrapped in another LaTeX operator.</li>
</ul>

<a name="2.3.8"></a>
<h3>2.3.8 (released 21-Nov-2021)</h3>
<ul>
  <li>Option to display negative powers as fractions (Dominic).</li>
  <li>New algorithm <tt>slot_asym</tt> to (anti-)symmetrise objects in
  indices by giving index positions instead of names.</li>
  <li>New functionality to implement algorithms in Python (Dominic).</li>
  <li>Faster re-implementation of <tt>get_component</tt> using new
	 C++ function modules (Dominic).</li>
  <li>New <tt>cdb.numeric.evaluate</tt>
  and <tt>cdb.numeric.integrate</tt> modules to evaluate expressions
  numerically or integrate differential equations numerically (Dominic).</li>
  <li>Updates to <tt>cdb.utils.indices</tt> and <tt>cdb.core.manip</tt>.</li>
  <li>Add warnings functionality to the kernel (Dominic).</li>
  <li>Add infrastructure to let algorithms display progress
  information while running (Dominic).</li>
  <li>Add cell cursor position to status bar (Dominic).</li>
  <li>Fix bug in <tt>expand_delta</tt> when the delta occurs at
  top-level in an expression.</li>
  <li>Many <tt>meld</tt> fixes and improvements (Dominic).</li>
  <li>Fix handling of auto-declare names (names with a '#' character).</li>
  <li>Keep LaTeX log/aux files on error to aid debugging.</li>
  <li>Fix LaTeX code to avoid some global variable name clashes.</li>
  <li>Fix for compilation on Apple silicon.</li>
</ul>

<a name="2.3.6"></a>
<h3>2.3.6 (released 30-Dec-2020)</h3>
<ul>
  <li>Once further change to the installation path of
  the <tt>cadabra2.so</tt> module, so that it conforms with standard
  conventions, in particular Debian packaging rules. On Debian-based
  systems, you should now be able to use the Cadabra python module
  without path settings, and the Jupyter kernel will work nicely with
    the Jupyter package in Debian. </li>
  <li>Fix display of lists containing <tt>Ex</tt> objects.</li>
  <li>Fix import of Jupyter notebooks.</li>
  <li>Fix bug related to automatic dummy index relabelling.</li>
  <li>Fix tab-completion.</li>
  <li>Fix build issues on recent versions of HomeBrew/macOS.</li>
</ul>

<a name="2.3.4"></a>
<h3>2.3.4 (released 16-Nov-2020)</h3>
<ul>
  <li>Fix a display bug which turned all products into tensor
    products.</li>
  <li>Enable attaching properties queried with <tt>Property.get</tt>
    to new symbols.</li>
  <li>Fix bug pulling with <tt>@(...)</tt> operator.</li>
  <li>Add option <tt>redundant</tt> to <tt>eliminate_metric</tt> to
    only eliminate metrics which have two dummy indices (David).</li>
  <li>Added option to export notebooks to Jupyter, and a command-line
    utility to do the same.</li>
</ul>

<a name="2.3.2"></a>
<h3>2.3.2 (released 31-Oct-2020)</h3>
<ul>
  <li>Fixed bug in pattern matching logic used
  in <tt>integrate_by_parts</tt>;
  see <a href="https://cadabra.science/qa/1755/integrate-by-parts-multiple-tensors-at-once">this
  Q&amp;A post</a>.</li>
  <li>Fixed bug which would prevent assignment to node multiplier from
  Python.</li>
  <li>Tab-completion on command line and in the notebook.</li>
  <li>Install the <tt>cadabra2</tt> python module in a standard
    location (Atri). You may still need to set <tt>PYTHONPATH</tt> if
    you are on Debian/Ubuntu.</li>
  <li>Fixes for the Mathematica scalar backend.</li>
  <li>Make <tt>expand_delta</tt> much faster when the Kronecker delta
    is contracted with objects which have anti-symmetry.</li>
  <li>Make meld work correctly with non/anti-commuting objects
    (Dominic).</li>
  <li>Make numbered indices like <tt>a1</tt> display with a subscript
    automatically <tt>a<sub>1</sub></tt>.</li>
  <li>Provide <tt>pickle</tt> functionality for expressions
    (Dominic).</li>
  <li>Fixes for compatibility with newer <tt>SymPy</tt> versions.</li>
  <li>Added a 'find' function in the notebook, to search input cells.</li>
  <li>New Jupyter kernel (enabled by default) which does not require
  Xeus; you can now get access to Cadabra on Jupyter on all supported
    systems, not just Conda (Fergus).</li>
  <li>Various improvements and fixed for handling and display of Young
    tableaux.</li>
  <li>Added <tt>ExNode::ex()</tt> to obtain an <tt>Ex</tt> object from
  an <tt>ExNode</tt> iterator.</li>
</ul>

<a name="2.3.0"></a>
<h3>2.3.0 (released 10-Jun-2020)</h3>
<ul>
  <li>Fix bug which would collect powers of objects with indices and
  then report an error.</li>
  <li>Functionality to read Cadabra Cloud notebooks into the desktop
    Cadabra.</li>
  <li>Use a better hash function for expression trees (avoiding a bug
    in <tt>factor_in</tt>).
  <li>Expose index symmetries through traces, so that canonicalise and
  related algorithms work correctly. Introduced a new
    property <tt>TableauInherit</tt>.</li>
  <li>More flexible <tt>LaTeXForm</tt> property, to enable more
    flexible object display in the notebook.</li>
  <li>Various fixes for behaviour of <tt>unwrap</tt> with anti- or
    non-commuting arguments.</li>
  <li>New <tt>meld</tt> algorithm for canonicalisation (Dominic).</li>
</ul>

<a name="2.2.8"></a>
<h3>2.2.8 (released 10-Dec-2019)</h3>
<ul>
  <li>More versatile handling of <tt>Trace</tt>, including sorting
  using cyclic symmetry (Connor).</li>
  <li>Fixes for <tt>combine</tt> (Connor).</li>
  <li>Save command-line history (Connor).</li>
  <li>Make imported notebooks use the default <tt>post_process</tt> function.</li>
  <li>Make <tt>unwrap</tt> move scalars out of exterior (wedge)
  products, see <a href="https://cadabra.science/qa/1287/collecting-scalar-terms-expressions-with-differentialforms">this
		Q&amp;A post</a>.</li>
  <li>Fix bug with indices with accents (<a href="https://github.com/kpeeters/cadabra2/issues/166">github/166</a>).</li>
  <li>Added a <tt>cadabra2latex</tt> command to convert notebooks to
    LaTeX.</li>
  <li>Fixed issue building with latest Homebrew on macOS.</li>
  <li>Fixed Windows build issues and add python path settings at runtime.</li>
  <li>Fixed bug with multipliers not reducing to canonical form.</li>
</ul>

<a name="2.2.7"></a>
<h3>2.2.7 (released 25-Jun-2019)</h3>
<ul>
  <li>Added <tt>cdb.utils.develop</tt> and <tt>cdb.relativity.abstract</tt>.
  <li>Added authentication token to all client-server communication.</li>
  <li>Various extensions to the <tt>Trace</tt> property.</li>
  <li>Make property info available from Python (Dominic).</li>
  <li>Fixed integration by parts with index-less derivatives.</li>
  <li>Added <tt>eliminate_vielbein</tt>.</li>
  <li>Fixed display of lists of sympy expressions.</li>
  <li>Fixed (finally) UTF8 input for non-English symbols.</li>
</ul>

<a name="2.2.6"></a>
<h3>2.2.6 (released 16-Apr-2019)</h3>
<ul>
  <li>Experimental notebook diff viewer (Dominic).</li>
  <li>Warn when about to overwrite an existing notebook.</li>
  <li>Improvements for HiDPI screens especially on macOS.</li>
  <li>Fix crash in <tt>sym/asym</tt>.</li>
  <li>Fix undo/redo crash in notebook when deleting cells.</li>
  <li>Improvements to the <tt>cdb.core.manip</tt> package (Dominic).</li>
  <li>Fix in <tt>young_project_tensor</tt>.</li>
  <li>Fix pattern matching for anti-commuting factors.</li>
  <li>Added <a href="/manual/explicit_indices.html"><tt>explicit_indices</tt></a>
  to convert expressions with implicit indices to their explicit
	 form.</li>
  <li>Add option to build a Jupyter kernel.</li>
  <li>Fix bug in <tt>split_index</tt> (acted on wrong parts of
	 expressions).</li>
  <li>Fix bug with substitute not checking constraints for
	 single-factor patterns.</li>
  <li>Add <tt>partial</tt> option
  to <a href="/manual/substitute.html">substitute</a> to require that
  products or sums match all terms, not just a partial sum or partial
  product.</li>
</ul>

<a name="2.2.5"></a>
<h3>2.2.5 (released 05-Feb-2019)</h3>
<ul>
  <li>Fix issues with <tt>Derivative</tt> objects going through Sympy.</li>
  <li>Fix a bug with LaTeX export.</li>
  <li>Enable build against system-supplied JSONCPP.</li>
</ul>

<a name="2.2.4"></a>
<h3>2.2.4 (released 19-Dec-2018)</h3>
<ul>
  <li>Fix to make simplify see the Mathematica backend again.</li>
  <li>Fix export of notebooks to LaTeX.</li>
  <li>Fix display of LaTeXForm property declaration.</li>
  <li>Added Python methods to traverse the expression tree.</li>
  <li>Fix for power simplification bug
	 (<a href="https://github.com/kpeeters/cadabra2/issues/85">github/85</a>)</li>
  <li>Fix to make command line version accept primes in expression
  input
	 (<a href="https://github.com/kpeeters/cadabra2/issues/85">github/85</a>)</li>
  <li>Fix for indices being treated as dependencies
	 (<a href="https://github.com/kpeeters/cadabra2/issues/89">github/89</a>)</li>
  <li>Various improvements
	 for <a href="/manual/replace_match.html"><tt>replace_match</tt></a>.
  <li>Optional syntax highlighting in input cells (Dominic).</li>
  <li>Added <a href="/manual/lower_free_indices.html"><tt>lower_free_indices</tt></a>
	 and <a href="/manual/raise_free_indices.html"><tt>raise_free_indices</tt></a>.
  <li>Various small fixes for terminal output.</li>
  <li>'Evaluate to cursor' in the notebook now works.</li>
  <li>Substituting now properly distinguishes between indices and
  non-indices,
  see <a href="https://cadabra.science/qa/609/should-substitute-act-on-indices">this
		Q&amp;A post</a>.</li>
  <li>Added <a href="/manual/einsteinify.html"><tt>einsteinify</tt></a>.</li>
  <li>Do not attempt to write out sums over index values
  in <a href="/manual/evaluate.html"><tt>evaluate</tt></a> if the
  range is not known, simply keep them unevaluated (instead of
	 throwing an error).</li>
  <li>Introducing <a href="/manual/zoom.html"><tt>zoom</tt></a>/unzoom
  as a more friendly and powerful alternative
	 to <a href="/manual/take_match.html"><tt>take_match</tt></a>/<a href="/manual/replace_match.html"><tt>replace_match</tt></a>.</li>
  <li>Fix for display of LaTeXForm'ed objects in
	 sub/superscripts.</li>
  <li>New build system using Ninja on Windows (Dominic).</li>
  <li>Fix bug in unwrap with derivatives with respect to explicit coordinates
  (see <a href="https://cadabra.science/qa/854/applied-expresion-partial-derivative-variable-functions">Unwrap
		applied...</a>).</li>
  <li>It is now possible to import notebooks into other notebooks
	 (Dominic).</li>
  <li>New system package for expression manipulation
	 (cdb.core.manip).</li>
  <li>Export to LaTeX fixed, and now also exports figures.</li>
  <li>Added a debugging console to the notebook interface (Dominic).</li>
</ul>

<a name="2.2.0"></a>
<h3>2.2.0 "Easter Bunny" (released 29-Mar-2018)</h3>
<ul>
  <li>Now builds on <a href="download.html">Windows</a> (Dominic).</li>
  <li>Experimental support for modifying the expression tree directly
  from Python (see e.g. <a href="https://cadabra.science/qa/605/fourier-transform">Fourier transforms</a>).</li>
  <li>Now building on OpenBSD.
  <li>Fix for integration by parts (<a href="https://github.com/kpeeters/cadabra2/issues/71">github/71</a>)</li>
  <li>Fix for incorrect conversion to sympy expressions.</li>
  <li>Optionally build with support for (experimental!) Mathematica scalar
	 backend; see <tt><a href="/manual/map_mma.html">map_mma</a></tt>.</li>
  <li>Many bugfixes for expression display and sympy conversion.</li>
  <li>Now using pybind instead of boost.python, in preparation for
  Windows port, and to enable building against Anaconda.</li>
  <li>Copy/paste of output cells added.</li>
  <li>New <tt><a href="/manual/simplify.html">simplify</a></tt>
	 command, which simplifies the scalar parts of expressions, and can
	 be switched to use either Sympy or Mathematica.</li>
  <li>Fix to treat derivatives with respect to explicit coordinates as
  scalars in <a href="/manual/evaluate.html"><tt>evaluate</tt></a>;
  see <a href="https://cadabra.science/qa/534/curious-behaviour-of-evaluate-algorithm">this
  Q&amp;A post</a>.</li>
  <li>Fix for failure to flag errors
  for <a href="/manual/WeightInherit.html">WeightInherit</a></tt> property.</li>
  <li>Fixed: vary on single-term expressions (<a href="https://github.com/kpeeters/cadabra2/issues/57">github/57</a>)</li>
  <li>Fixed: evaluate with dense factors and no 'values' property on
	 indices (<a href="https://github.com/kpeeters/cadabra2/issues/68">github/68</a>)</li>
</ul>

<a name="2.1.7"></a>
<h3>2.1.7 (released 20-Nov-2017)</h3>
<ul>
  <li>Various bugfixes.</li>
</ul>

<a name="2.1.6"></a>
<h3>2.1.6 (released 1-Nov-2017)</h3>
<ul>
  <li>Make the wedge product distributable.</li>
  <li>Fix printing of wedge products with sums in factors.</li>
  <li>Fixed printing of index brackets.</li>
  <li>Add RPATH to binaries to avoid having to run <tt>ldconfig</tt>
  after installation.</li>
  <li>Fix for the theming to avoid invisible text with dark
	 themes.</li>
</ul>

<a name="2.1.5"></a>
<h3>2.1.5 (released 6-Aug-2017)</h3>
<ul>
  <li>Introduced <tt><a href="/manual/map_sympy.html">map_sympy</a></tt>
  which can be used to apply Sympy functions to Cadabra expressions,
  acting in-place.</li>
  <li>Fixed: expressions with powers often lack brackets.</li>
</ul>

<a name="2.1.4"></a>
<h3>2.1.4 (released 14-Apr-2017)</h3>
<ul>
  <li>Enable packages to be written using Cadabra notation, instead of
	 only pure Python (still experimental).</li>
  <li>Young tableaux
	 properties <tt><a href="/manual/Tableau.html">Tableau</a></tt> and
	 <tt><a href="/manual/FilledTableau.html">FilledTableau</a></tt>
	 the related
	 algorithm <tt><a href="/manual/lr_tensor.html">lr_tensor</a></tt>
	 are available again.
  <li>Sorting Majorana spinors possible again using <tt><a href="/manual/sort_spinors.html">sort_spinors</a></tt>.</li>
  <li>Extended <tt><a href="/manual/rename_dummies.html">rename_dummies</a></tt>
  with capability to rename indices to different set.</li>
  <li>Make <tt><a href="/manual/vary.html">vary</a></tt> work on powers of expressions with dummy
	 indices.</li>
  <li>Substitution of sub-sums now available
  (e.g.&nbsp;<a href="/manual/substitute.html">substitute</a> of <tt>A+B=C</tt> in <tt>ex:=A+B+C+D</tt>).</li>
  <li>Improved LaTeX export to make printed notebooks look much
	 better.</li>
  <li>Many improvements to the component engine, in particular for
  handling of derivatives and fractions involving tensors.</li>
  <li>Better line spacing for line-wrapped equations.</li>
  <li>Smarter scroll-to-cell behaviour of the notebook.</li>
  <li>Canonicalising expressions with component values for indices now
	 works again.</li>
  <li>The <tt><a href="/manual/unwrap.html">unwrap</a></tt> algorithm
  can now be guided about what to unwrap, and also knows about spinors
  and Dirac bars.</li>
  <li>Experimental support to use Cadabra directly from C++ code, as a
  library (see
  the <tt><a href="https://github.com/kpeeters/cadabra2/tree/master/c%2B%2Blib">c++lib</a></tt>
	 directory).</li>
  <li>Fixes for using a custom <tt>post_process</tt> defined as a function nested inside another.</tt>
  <li>Rudimentary timing logic, try <tt>server.totals();</tt></li>
  <li>Fixed: pasting text in the notebook sometimes double-pastes.
  <li>Fixed: <tt><a href="/manual/split_index.html">split_index</a></tt> does not work properly on left- and
	 right-hand side of equations.</li>
  <li>Fixed: <tt><a href="/manual/sort_product.html">sort_product</a></tt> does not always sort
	 expressions.</li>
  <li>Fixed: <tt><a href="/manual/eliminate_metric.html">eliminate_metric</a></tt> only acts at top level of an
  expression, should have <tt>deep=True</tt> by default.</li>
  <li>Fixed: a bug which would lead to a segfault when using <tt>deep=True</tt>.
</ul>

<a name="2.1.2"></a>
<h3>2.1.2 (released 4-Jan-2017)</h3>
<ul>
  <li>Bug fix: Crash on opening of a notebook on Ubuntu 16.04 and possibly
	 others, related to minor differences in gtk versions.</li>
  <li>Bug fix: Installation paths of Debian/Ubuntu/Mint binary
	 packages changed from <tt>/usr/local</tt> to <tt>/usr</tt>.</li>
</ul>

<a name="2.1.1"></a>
<h3>2.1.1 (released 3-Jan-2017)</h3>
<ul>
  <li>Bug fix: Compilation error on gtk versions lower than 3.10.0.</li>
</ul>

<a name="2.1.0"></a>
<h3>2.1.0 (released 3-Jan-2017)</h3>
<ul>
  <li>First properly versioned release after a series of 2.0.x
	 releases which were meant for testing.</li>
</ul>

{%- endblock %}
