{% extends "layout.html" %}

{% block title %}Cadabra: Download{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>Download and install</h1>

<h2>Build from source (Linux/macOS/Windows)</h2>
<p>
  The source is of Cadabra is distributed via github, see the
   <a href="https://github.com/kpeeters/cadabra2">kpeeters/cadabra2</a>
  repository for more details, including the pre-requisites.
</p>
<p>
  You can build .deb and .rpm packages yourself when building from
  source, by running <code>sudo cpack</code> after a successful
  build. Note that on rpm systems this requires the use
  of <code>cmake3</code> and <code>cpack3</code>; the default cmake will lead to a broken package.
</p>

<h2>Binary packages</h2>
<p>
  Packages for various Linux distributions and for Windows (beta!) are
  available for download here. Installation on macOS can be done
  through HomeBrew or Conda; see below. 
</p>
<p>
  Use at your own risk. Because of time constraints some of these
  packages receive almost no testing, so any feedback is welcome.
  If you want to help getting these into official distribution
  repositories, please let me know.
</p>

<div class="packages">
  <div class="distrotype">
	 <img src="static/images/ubuntulogo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/ubuntu1804">Ubuntu Bionic Beaver 18.04</a></div>
	 <div class="distronum"><a href="https://cadabra.science/packages/ubuntu2004">Ubuntu Focal Fossa 20.04</a></div>
	 <div class="distronum"><a href="https://cadabra.science/packages/ubuntu2204">Ubuntu Jammy Jellyfish 22.04</a></div>
	 <div class="distrotxt">
	   Cadabra is now available in Ubuntu 22.04 from the official
	   repositories, by installing the <tt>cadabra2</tt> package
	   (though this may not always be the most recent
	   version). Thanks to Alex Myczko for making this happen.
	 </div>
  </div>

  <div class="distrotype">
	 <img src="static/images/fedora-logo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/fedora28/">Fedora 28</a></div>
	 <div class="distronum"><a href="https://cadabra.science/packages/fedora29/">Fedora 29</a></div>	 	 
	 <div class="distronum"><a href="https://cadabra.science/packages/fedora32/">Fedora 32</a></div>	 	 
	 <div class="distronum"><a href="https://cadabra.science/packages/fedora33/">Fedora 33</a></div>	 	 
	 <div class="distronum"><a href="https://cadabra.science/packages/fedora35/">Fedora 35</a></div>	 	 
	 <div class="distrotxt">
	 </div>
  </div>

  <div class="distrotype">
	 <img src="static/images/mintlogo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/mint19/">Mint Tara 19</a></div>
	 <div class="distronum"><a href="https://cadabra.science/packages/mint20/">Mint Ulyana 20</a></div>
  </div>

<!--  <div class="distrotype">
	 <img src="static/images/centoslogo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/centos7/">CentOS 7</a></div>
	 <div class="distrotxt">
		After installation you also need to run
		<code>sudo yum install epel-release; sudo yum
		  install python-pip; sudo pip install sympy</code>
		in order to enable component computations.
	 </div>
  </div>

  <div class="distrotype">
	 <img src="static/images/scientific_linux_logo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/scientific7x/">Scientific Linux 7x</a></div>
	 <div class="distrotxt">
		After installation you also need to run
		<code>sudo yum install epel-release; sudo yum
		  install python-pip; sudo pip install sympy</code>
		in order to enable component computations.
	 </div>
  </div> -->

  <div class="distrotype">
	 <img src="static/images/opensuse_logo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/opensuse150/">openSUSE Leap 15.0</a></div>
	 <div class="distronum"><a href="https://cadabra.science/packages/opensusetw/">openSUSE Tumbleweed</a></div>
  </div>

  <div class="distrotype">
	 <img src="static/images/debian-logo.jpg"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/debian9/">Debian Stretch 9</a></div>
	 <div class="distronum"><a href="https://cadabra.science/packages/debian10/">Debian Buster 10</a></div>
	 <div class="distrotxt">
	   Cadabra is now available in Debian 11 (Bullseye) from the
	   official repositories, by installing the <tt>cadabra2</tt>
	   package (though this may not always be the most recent
	   version). Thanks to Alex Myczko for making this happen.
	 </div>
  </div>

  <div class="distrotype">
	 <img src="static/images/apple_logo.png"/>
	 <div class="distronum">macOS</a></div>
	 <div class="distrotxt">
		Cadabra is available via the Homebrew package manager. First
		make sure that you have MacTeX installed, either by installing
		it directly, or by using homebrew with
		<code>brew tap caskroom/cask</code>
		<code>brew cask install mactex</code>
		After that, you can install Cadabra using
		<code>brew tap kpeeters/repo</code>		
		<code>brew install cadabra2</code>
		<code>/usr/local/bin/python3 -m pip install sympy gmpy2</code>
		Please not that this has not yet received a lot of testing; if
		you encounter problems, please
		email <a href="mailto:info@cadabra.science">info@cadabra.science</a>
		so they can be fixed and other people can benefit from it.
	 </div>
	 <div class="distrotxt">
		If you want to build from source,
		see <a href="https://github.com/kpeeters/cadabra2#macos">macOS
		build instructions</a> for details.
	 </div>
  </div>

  <a name="windows"></a>
  <div class="distrotype">
	 <img src="static/images/windows_logo.png"/>
	 <div class="distronum"><a href="https://cadabra.science/packages/windows">Windows 10</a></div>
	 <div class="distrotxt">
		<b>Windows is currently unsupported, and the installer is broken.
		Volunteers welcome to help bring this back to life.</b>
	 </div>
	 <div class="distrotxt">		
		You will need a Python3 installation from Anaconda (64-bits,
		Python 3.8) and a LaTeX installation (tested with MikTeX, others
		may work too) in order for this to work. Install those first if
		you do not have them already.  The Windows port and this binary
		installer are in beta right now, please report any
		problems. Many thanks to Dominic Price for making this become
		reality.
	 </div>
	 <div class="distrotxt">
		If you want to build from source,
		see <a href="https://github.com/kpeeters/cadabra2#windows">Windows
		build instructions</a> for details.
	 </div>
  </div>

  <div class="distrotype">
	 <img src="static/images/conda.png"/>
	 <div class="distrotxt">
      On Linux and macOS, you can install Cadabra, its native notebook
      interface, and the Jupyter kernel via Conda or Anaconda, thanks
      to the work of Isuru Fernando. Activate the <tt>conda-forge</tt>
      channel if you have not done that already, with
      <code>conda config --add channels conda-forge</code>
      <code>conda config --set channel_priority strict</code>
      and then install these packages by using one of the following
      lines:
      <code>conda install cadabra2</code>
      <code>conda install cadabra2-gtk</code>
      <code>conda install cadabra2-jupyter-kernel</code>
	 </div>
  </div>

</div>

<p>
  Is your distribution not listed above? Either build Cadabra from
  source (see below) or send an email
  to <a href="mailto:info@cadabra.science">info@cadabra.science</a>
  to request a package for your distribution.
</p>


{%- endblock %}
