<!DOCTYPE html>
<html lang=en>
  <head>
	 <meta charset="utf-8">
	 <meta name="viewport" content="width=device-width,initial-scale=1">
	 <meta name="robots" content="index, follow" />

	 <meta keywords="cadabra, computer algebra, symbolic computer
	 algebra, cas, tensors, general relativity, relativity, metric,
	 field theory, quantum field theory, mathematica, maple, xact,
	 grtensor, sheep" />

	 <meta name="copyright" content="Kasper Peeters" />
	 <title>{% block title %}{% endblock %}</title>
	 <link rel="shortcut icon" type="image/png" href="/static/icons/cadabra2.png">

	 <script type="text/javascript" 
				src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML'></script>

	 </script>
	 <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	 <link href='https://fonts.googleapis.com/css?family=Lato:300,:400' rel='stylesheet' type='text/css'>
	 <link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet" type="text/css">
	 <link rel="stylesheet" href="/static/fonts/Bright/cmun-bright.css">
	 <script>
		MathJax.Hub.Config({
		tex2jax: {
		inlineMath: [['$','$'], ['\\(','\\)']],
		processEscapes: true,
		displayAlign: "left",
		ignoreClass: "python",
		processClass: "latex_view",
      linebreaks: { automatic: true }
		},
		"HTML-CSS": {
		scale: 105,
		preferredFont: "TeX",
		webFont: "TeX",
		mtextFontInherit: false,
		matchFontHeight: false,
      linebreaks: { automatic: true }
		},
		"SVG": {
      linebreaks: { automatic: true }
		}
		});
	 </script>
	 <link href="/static/styles/cadabra-web.css" rel="stylesheet" type="text/css" />

	 {% block head %}{% endblock %}
  </head>
  <body>
    <div id="topflex">
	 <div id="logobar">
		<a href="/">
		  <div id="cadabra_logo">
			 <img src="/static/icons/cadabra2.png" />
		  </div>
		  <div id="cadabra">
			 Cadabra
		  </div>
		</a>
		<div id="subtext">
		  a field-theory motivated approach to computer algebra
		</div>
		<!--		<div id="author">
					Kasper Peeters<br/>
					cadabra@phi-sci.com
					</div> -->
	 </div>
	 <div id="search">
<script>
  (function() {
    var cx = '016915739931163127408:1ha2sk1dyg0';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
	 </div>
	 </div>
	 <hr id="below_logo"/>
	 <div id="menubar">
		<a href="/download.html">
		  <div class="icon_background" >
			 <img src="/static/icons/download.png" alt="[download]" />
			 <div class="icon_text">
				Download
			 </div>
		  </div>
		</a>
		<a href="/jupyter.html">
		  <div class="icon_background" >
			 <img class="jupyter_icon" src="/static/icons/jupyter.png" alt="[cadabra in jupyter]" />
			 <div class="icon_text">
				Jupyter
			 </div>
		  </div>
		</a>
		<a href="/notebooks/quickstart.html">
		  <div class="icon_background" >
			 <img src="/static/icons/quickstart.png" alt="[quick start]" />
			 <div class="icon_text">
				Quick start
			 </div>
		  </div>
		</a>
<!--		<a href="/v1x.html">
		  <div class="icon_background" >
			 <img src="/static/icons/v1.png" alt="[upgrade]" />
			 <div class="icon_text">
				Upgrade
			 </div>
		  </div>
		</a> -->
		<hr/>
		<a href="/help.html">
		  <div class="icon_background" >
			 <img src="/static/icons/help.png" alt="[help]" />
			 <div class="icon_text">
				Help&nbsp;&amp;&nbsp;book
			 </div>
		  </div>
		</a>
		<a href="/tutorials.html">
		  <div class="icon_background" >
			 <img src="/static/icons/tutorials.png" alt="[tutorials]" />
			 <div class="icon_text">
				Tutorials
			 </div>
		  </div>
		</a>
		<a href="/man.html">
		  <div class="icon_background" >
			 <img src="/static/icons/features.png" alt="[features]" />
			 <div class="icon_text">
				<div class="firstline">Reference</div><div>manual</div>
			 </div>
		  </div>
		</a>
		<a href="/papers.html">
		  <div class="icon_background" >
			 <img src="/static/icons/paper.png" alt="[paper]" />
			 <div class="icon_text">
				Papers
			 </div>
		  </div>
		</a>
		<hr/>
		<a href="/user_notebooks.html">
		  <div class="icon_background" >
			 <img src="/static/icons/contrib.png" alt="[user notebooks]" />
			 <div class="icon_text">
				<div class="firstline">User</div><div>notebooks</div>
			 </div>
		  </div>
		</a>
		<a href="/developers.html">
		  <div class="icon_background" >
			 <img src="/static/icons/puzzle.png" alt="[contribute]" />
			 <div class="icon_text">
				Contribute
			 </div>
		  </div>
		</a>
		<hr/>
		<a href="/people.html">
		  <div class="icon_background" >
			 <img src="/static/icons/people.png" alt="[people]" />
			 <div class="icon_text">
				People
			 </div>
		  </div>
		</a>
		<a href="/license.html">
		  <div class="icon_background" >
			 <img src="/static/icons/license.png" alt="[license]" />
			 <div class="icon_text">
				License
			 </div>
		  </div>
		</a>
		<div class="github-link">
		  <a href="https://github.com/kpeeters/cadabra2/">
			 <img src="/static/icons/GitHub-Mark-64px.png" />
		  </a>
		</div>
	 </div>
	 
	 <div id="main">
		{% block main %}{% endblock %}
	 </div>
	 
	 <div id="bottombar">
		<div id="bottomleft">Copyright &copy; 2001-2021 Kasper Peeters</div>
		<div id="bottomright">Questions? <a href="mailto:info@cadabra.science">info@cadabra.science</a></div>
	 </div>
	 
	 <script type="application/ld+json">
		{
		"@context": "http://schema.org",
		"@type": "Organization",
		"url": "https://cadabra.science",
		"logo": "https://cadabra.science/static/icons/cadabra2.png"
		}
	 </script>

  </body>
</html>
