{% extends "layout.html" %}

{% block title %}Cadabra: Papers using Cadabra{% endblock %}

{% block head %}{%- endblock %}

{% block main %}
<h1>Papers about Cadabra</h1>

<p>
  The canonical introduction to Cadabra for high-energy physicists is
  the original paper (now updated for 2.x syntax),
</p>
<blockquote class="reference">
  <div class="author">Kasper Peeters</div>
  <div class="title"><a href="https://cadabra.science/cadabra2_hep.pdf">Introducing Cadabra:
		a symbolic computer algebra system for field theory problems</a></div>
  <div class="pubinfo"><a href="http://arxiv.org/abs/hep-th/0701238">hep-th/0701238</a>
	 (now updated for 2.x syntax)</div>
</blockquote>
<p>
  The Cadabra 2.x software is published as
</p>
  <blockquote class="reference">
	 <div class="author">Kasper Peeters</div>
	 <div class="title">Cadabra2: computer algebra for field theory
		revisited</div>
	 <div class="pubinfo"><a href="https://doi.org/10.21105/joss.01118">Journal
		  of Open Source Software, 3(32), 1118</a></div>
	 <div class="pubinfo"><a href="https://doi.org/10.21105/joss.01118"><img src="https://joss.theoj.org/papers/10.21105/joss.01118/status.svg"/></a>
	 </div>
  </blockquote>
<p>A technical explanation of the  motivation for writing this software,
  as well as a sketch of the internal structure, can be found in
  the paper</p>
<blockquote class="reference">
  <div class="author">Kasper Peeters</div>
  <div class="title"><a href="paper.pdf">A field-theory
		motivated approach to symbolic computer algebra</a></div>
  <div class="pubinfo"><a
								  href="http://arxiv.org/abs/cs.SC/0608005">cs.SC/0608005</a>,
	 <a href="http://dx.doi.org/10.1016/j.cpc.2007.01.003">Comp.&nbsp;Phys.&nbsp;Commun.&nbsp;176 (2007) 550-558.</a></div>
</blockquote>
<p>
  Please cite the three papers above when you use Cadabra in your own
  work; those citations are the only way to convince the bean counters
  that this software is useful!
</p>
<p>
  The <tt>meld</tt> algorithm has been documented in
</p>
<blockquote class="reference">
  <div class="author">Dominic Price, Kasper Peeters and Marija Zamaklar</div>
  <div class="title">Hiding canonicalisation in tensor computer algebra</div>
  <div class="pubinfo"><a href="https://arxiv.org/abs/2208.11946">arXiv:2208.11946</a></div>
</blockquote>
<p>Finally, a general introduction to the old version of Cadabra for a
  wider public can be found in</p>
<blockquote class="reference">
  <div class="author">Kasper Peeters</div>
  <div class="title"><a href="car.pdf">Symbolic field theory with Cadabra</a></div>
  <div class="pubinfo"><a href="http://www.fachgruppe-computeralgebra.de/CA-Rundbrief/car41.pdf">Computeralgebra Rundbrief 41 (2007) 16.</a></div>
</blockquote>
<p>
  A proper introduction to the new features of Cadabra 2 may appear at
  some point in the future.  
</p>


<h1>Introductory papers to learn Cadabra</h1>
<a name="brewin"></a>

<p>Leo Brewin has written a very thorough new introduction to Cadabra for people
  who intend to use it in General Relativity, with loads of examples
  suitable for beginners,</p>
<blockquote class="reference">
  <div class="author">Leo Brewin</div>
  <div class="title">Using Cadabra for tensor computations in General Relativity</div>
  <div class="pubinfo">available as <a href="http://arxiv.org/abs/1912.08839">arxiv:1912.08839</a></div>
</blockquote>
<p>
Also from his hand is a nice paper on how to do Riemann normal
coordinate expansions with Cadabra, now updated to use Cadabra2 notation,
<blockquote class="reference">
  <div class="author">Leo Brewin</div>
  <div class="title">Riemann Normal Coordinate expansions using Cadabra</div>
  <div class="pubinfo">available as <a href="http://arxiv.org/abs/0903.2087v2">arxiv:0903.2087v2</a></div>
</blockquote>
<!--<blockquote class="reference">
  <div class="author">Leo Brewin</div>
  <div class="title"><a href="http://users.monash.edu.au/~leo/research/papers/files/lcb09-02.pdf">A
		brief introduction to Cadabra: a tool for tensor computations in
		General Relativity</a></div>
  <div class="pubinfo">also available as <a href="http://arxiv.org/abs/0903.2085">arxiv:0903.2085</a></div>
</blockquote>-->
</p>

<h1>Research papers citing Cadabra</h1>

<p>The list of papers citing cadabra is getting too long to
  maintain by hand, but Google Scholar does an excellent job at it.
  See the
  <a href="http://scholar.google.com/scholar?oi=bibs&hl=en&cites=13084737546483891451">list
	 of papers citing the Comp.Phys.Comm. paper</a>, the
  <a href="http://scholar.google.com/scholar?oi=bibs&hl=en&cites=6862449820033381676">list
    of papers citing the hep-th paper</a> and
    the <a href="https://scholar.google.co.uk/scholar?cites=12816060198742513768&as_sdt=2005&sciodt=0,5&hl=en">list
    of papers citing the Cadabra2 paper</a>.
</p>

{%- endblock %}

