{% extends "layout.html" %}

{% block title %}Cadabra: People{% endblock %}

{% block head %}{%- endblock %}

{% block main %}

<h1>People and support</h1>
<h2>Development</h2>
<p>
  Cadabra is designed and written by <span class="author">Kasper
  Peeters</span> with help from various contributors listed below.
</p>

<h2>Contributors</h2>
<dl>
  <dt class="author">Dominic Price</dt>
  <dd>Many additions and improvements written during the course of his
	 PhD, such as: the conversion to pybind, the Windows port, the logic
	 that enables importing notebooks into other notebooks, the meld
	 algorithm, various add-on packages, syntax highlighting and
	 various other enhancements to the notebook interface, and many
	 more.</dd>
  <dt class="author">Connor Behan</dt>
  <dd>Improvements to trace operators and various other parts.</dd>
  <dt class="author">Fergus Baker</dt>
  <dd>The new default Jupyter kernel.</dd>
</dl>

<h2>Acknowledgements</h2>
<p>
Special thanks to José M. Martín-García (for the xPerm
canonicalisation code), James Allen (for writing much of the original
factoring code), Leo Brewin (for writing beautiful
tutorials), Mattia Scomparin (for contributing tutorial notebooks),
Oscar Felisola (for LaTeX related patches), the
Software Sustainability Institute and the Institute of Advanced Study
(for financial support). Thanks to the many people who have sent me
bug reports (keep 'm coming), and thanks to all of you who use
Cadabra, sent feedback or cited the Cadabra papers.
</p>
<p>
  The name Cadabra is an implicit acknowledgement to
  <a href="https://www.researchgate.net/profile/Mees_Roo">Mees de
Roo</a>, who introduced me to his (so far unpublished) Pascal program
<tt>Abra</tt> in the fall of 2000. This program has an extremely
physicist-friendly way of dealing with fermions and tensor symmetries,
and a formula history mechanism still not found in any other
comparable computer algebra system. Cadabra was originally planned to be
"my private C++ version of <tt>Abra</tt>", and even though it does not
show much similarity anymore, the development was to a large extent
inspired by <tt>Abra</tt>.
</p>

<h2>Financial support</h2>
<p>
  Cadabra has been, is, or will be supported by the following
  organisations:<br/>
	 <a href="https://www.software.ac.uk/"><img src="static/images/ssi_logo_with_name-small2.png"
  alt="SSI logo" /></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://www.dur.ac.uk/ias/"><img height="78"
  src="static/images/ias-logo.jpg"
  alt="IAS logo" /></a><br/>
</p>

{%- endblock %}
